<div class="widgets">
    <div class="col-md-12" ba-panel ba-panel-title="设置" ba-panel-class="with-scroll">
        <!--<div style="position: absolute;top: 5px;    right: 3%;"><button type="button" ng-click="myopen('app/pages/SetUp/newBasicSettings/newBasicSettings.html', 'lg')" class="btn btn-info btn-raised">添加电子地图位置</button></div>-->
        <div>
            <table class="table table-bordered ">
                <thead>
                    <tr valign="middle  text-center">
                        <th class="text-center ">#</th>
                        <th class=" text-center">对应摄像头／编号</th>
                        <th class=" text-center">视频名称</th>
                        <th class=" text-center">时长</th>
                        <th class=" text-center">上传时间</th>
                        <th class=" text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=" text-center ">1</td>
                        <td class=" text-center">摄像头1／S001</td>
                        <td class=" text-center">粮仓11月1日镜头1</td>
                        <td class=" text-center">20:20</td>
                        <td class=" text-center">2016/11/1</td>
                        <td class=" text-center row">
                            <span class="iscursor" ng-click="myopen('app/pages/SetUp/Video/newVideo.html', 'lg')">更换视频</span>
                            <!--<span class="iscursor" ng-click="myopen('app/pages/SetUp/newBasicSettings/newBasicSettings.html', 'lg')">上传视频</span>-->
                            <span class="iscursor" ng-click="que_dekete(item.id,'3')">删除视频</span>
                        </td>
                    </tr>
                    <tr>
                        <td class=" text-center ">2</td>
                        <td class=" text-center">摄像头2／S002</td>
                        <td class=" text-center">粮仓11月1日镜头2</td>
                        <td class=" text-center">20:20</td>
                        <td class=" text-center">2016/11/1</td>
                        <td class=" text-center row">
                            <span class="iscursor" ng-click="myopen('app/pages/SetUp/Video/newVideo.html', 'lg')">更换视频</span>
                            <!--<span class="iscursor" ng-click="myopen('app/pages/SetUp/newBasicSettings/newBasicSettings.html', 'lg')">上传视频</span>-->
                            <span class="iscursor" ng-click="que_dekete(item.id,'3')">删除视频</span>
                        </td>
                    </tr>
                    <tr>
                        <td class=" text-center ">1</td>
                        <td class=" text-center">摄像头1／S001</td>
                        <td class=" text-center">粮仓11月1日镜头1</td>
                        <td class=" text-center">20:20</td>
                        <td class=" text-center">2016/11/1</td>
                        <td class=" text-center row">
                            <span class="iscursor" ng-click="myopen('app/pages/SetUp/Video/newVideo.html', 'lg')">更换视频</span>
                            <!--<span class="iscursor" ng-click="myopen('app/pages/SetUp/newBasicSettings/newBasicSettings.html', 'lg')">上传视频</span>-->
                            <span class="iscursor" ng-click="que_dekete(item.id,'3')">删除视频</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>